:root {
  --primary-color: #02557d;
  --secondary-color: #ffb749;
  --success-color: #769fbf;
  --info-color: #306e96;
  --warning-color: #c45729;
  --danger-color: #dd3e0e;
  --light-color: #f9f9fb;
  --dark-color: #1b1e21;
  --white-color: #fff;
  --margin-section: -100px;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  height: 100vh;
  overflow-y: scroll;
}

/*button {
  width: 100%;
  height: 100%;
  border: 2px solid var(--white-color) !important;
  border-radius: 40px !important;
  color: var(--white-color) !important;
}*/

input {
  all: unset;
  background-color: #e5e5e5;
  border-radius: 14px;
  width: 100%;
  height: 30px;
}

input::placeholder {
  font-family: 'Asap', sans-serif;
  color: #909090;
  padding-left: 24px;
}

textarea {
  all: unset;
  background-color: #e5e5e5;
  border-radius: 10px;
  font-size: 0.95rem;
  resize: none;
}

textarea::placeholder {
  font-family: 'Asap', sans-serif;
  color: #909090;
  padding-left: 24px;
}

/*************** Start Navbar ******************/

.navbar-toggler {
  border-color: var(--secondary-color);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 183, 73, 0.66)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navigation {
  z-index: 2;
  margin-top: 24px;
}

.nav-pills .nav-link .active,
.nav-pills .show > .nav-link {
  background-color: var(--secondary-color);
  color: var(--primary-color) !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--secondary-color);
  color: var(--primary-color) !important;
}

/*************** End Navbar ******************/

/*************** Start about section ******************/
#about {
  margin-top: var(--margin-section);
}

.about-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url('/assets/images/IMAGEN\ HERO.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 120px;
}

.about-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  opacity: 0.5;
  padding-top: 120px;
}

/*************** End about section ******************/

/*************** Start courses section ******************/

#courses {
  /* margin-top: var(--margin-section); */
  height: 100vh;
}

.courses-container {
  padding-top: 120px;
}

/*************** End courses section ******************/

/*************** Start team section ******************/

#team {
  /* margin-top: var(--margin-section); */
  height: 100vh;
}

.team-container {
  padding-top: 120px;
}

/*************** End team section ******************/

/*************** Start contact section ******************/

#contact {
  /* margin-top: var(--margin-section); */
  height: 100vh;
}

.contact-container {
  padding-top: 120px;
}

/*************** End contact section ******************/
